<ion-content>


    <ion-grid>
      <ion-row style="position:absolute;top:0vh; left:10vw; z-index:1111;" >

      <ion-col size="6">
      <ion-button (click)="irainicio()" style="border-radius:10px;" color="secondary"><ion-icon color="dark" name="chevron-back"></ion-icon></ion-button>
      </ion-col>

      </ion-row>

      <ion-row>

        <ion-col id="somelement" align-self-center size-md="12" size-lg="12" size-xs="12" size>


          <!-- aqui va el svg -->


          <!-- aqui termina el svg -->

          
        </ion-col>

      </ion-row>



    </ion-grid>
</ion-content>
        