


<ion-content>


  <ion-text style="text-align:center; color:#454545;"><h3><strong>VERIFICACION DE CORREO</strong></h3></ion-text>
  
      <ion-text style="text-align:center; color:#d7ab12; font-weight: lighter;"><h6>Un codigo de verificación se a enviado a su correo.</h6></ion-text>
  
      <ion-row>
        <ion-col size="0.6">
  
        </ion-col>
        <ion-col size="10.8">
          <ion-text style="font-weight: bold; font-size:medium;color:#404040;"> &nbsp; &nbsp;Porfavor ingrese el codigo para verificar</ion-text>
          <ion-card class="carta" >
            <div class="otp-field">
              <ion-input type="tel" (ionFocus)="borrar1($event)" class="x" #otp1 required="true" maxLength="1" [(ngModel)]="OTP.first" (keyup)="otpController($event,otp2,'',1)">
              </ion-input>
              <ion-input type="tel" (ionFocus)="borrar2($event)" class="x" #otp2 required="true" maxLength="1" [(ngModel)]="OTP.second" (keyup)="otpController($event,otp3,otp1,2)">
              </ion-input>
              <ion-input type="tel" (ionFocus)="borrar3($event)" class="x" #otp3 required="true" maxLength="1" [(ngModel)]="OTP.third"   (keyup)="otpController($event,otp4,otp2,3)">
              </ion-input>
            
              <ion-input type="tel" (ionFocus)="borrar4($event)" class="x" #otp4 required="true" maxLength="1" [(ngModel)]="OTP.forth"   (keyup)="otpController($event,otp5,otp3,4)">
              </ion-input>
              <ion-input type="tel" (ionFocus)="borrar5($event)" class="x" #otp5  required="true" maxLength="1" [(ngModel)]="OTP.fifth"  (keyup)="otpController($event,otp6,otp4,5)">
              </ion-input>
              <ion-input type="tel" (ionFocus)="borrar6($event)" class="x" #otp6  required="true" maxLength="1" [(ngModel)]="OTP.sixth"  (keyup)="otpController($event,'',otp5,6)">
              </ion-input>
            </div>
    
          </ion-card>
  
        </ion-col>
        <ion-col size="0.6">
          
        </ion-col>
      </ion-row>
  
  
      <ion-text style="text-align:center; color:#454545; font-weight: lighter;"><h6>No recibio el codigo? <strong style="cursor:pointer;  color:#fbb000;" (click)="reenviarcorreo()">Reenviar</strong>.</h6></ion-text>
  
  <ion-row>
    <ion-col size="4" offset="4.5">
      <ion-button style="border-radius: 1px;" (click)="boton_verifica()" color="primary"><ion-text style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Verificar</ion-text></ion-button>
    </ion-col>
  </ion-row>
  
  
  
  
  </ion-content>
  
  