
<ion-content padding class="signup-style">

    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon style="font-size: 30px; " name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

<br>

<section *ngIf="this.step=='login'">

  <ion-grid>
		<ion-row>
      <ion-col id="somelement" align-self-center size-md="6" size-lg="5" size-xs="12" size>


            <ion-row class="row" class="ion-no-padding" no-padding >
                <ion-col size="3">
                </ion-col>
                <ion-col size="6">
                    <img src="../assets/monkey-login.png" class="img-logo">
                </ion-col>
                <ion-col size="3">
                </ion-col>
            </ion-row>


        <ion-card style=" padding:10%;" style="background-color:rgba(215, 215, 215, 0.124);" >
                


            <ion-row class="row" class="ion-no-padding" no-padding >
                <ion-col style="text-align: center;">
                  <br>
                  <br>
                    <a><ion-text style="color:#f0b13b;"><h4><strong>Iniciar sesión</strong></h4></ion-text></a>
                </ion-col>
            </ion-row>
            <ion-row class="row" class="ion-no-padding" no-padding >
              <ion-col style="text-align: center;">
                <br>
                <a><ion-text style="color:#f0b13b;"><h6>¿Aún no tienes cuenta? <a style="cursor:pointer;" (click)="iraregistrarse()">Registrate</a></h6></ion-text></a>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
              <ion-input style="border: 1px solid var(--ion-color-medium);" (ionChange)="CHANGEusuarioocorreo()"  (input)="CHANGEusuarioocorreo()" [(ngModel)]="loginuser" placeholder="Correo"></ion-input>
              <ion-text *ngIf="loginuser&&!usuariologin_tienearrobas||colocouncorreoperonoelpunto" style="position:absolute; bottom:-1px; font-size:9px; color:red;">Ingrese un correo valido.</ion-text>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
          
          <br>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="8">
                <ion-input style="border: 1px solid var(--ion-color-medium);"  type="password" [(ngModel)]="loginpassword" placeholder="Contraseña"></ion-input>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3.5"></ion-col>
              <ion-col size="5">
                <ion-button style="  --border-radius: 1px;
                border-radius: 1px;" [disabled]="!usuariologin_tienearrobas||colocouncorreoperonoelpunto||!loginuser||loginuser==''||!loginpassword||loginpassword==''" (click)="logear()" expand='block'>Ingresar</ion-button>
              </ion-col>
              <ion-col size="3.5"></ion-col>
              </ion-row>
              <br>
              <br>
              <br>
              <ion-row style="text-align: center!important;">
                <ion-col style="text-align: center!important;">
                  <a href="https://badmonkeyvapes.com" target="_blank" style="cursor:pointer; text-decoration:underline;text-align: center!important;">Volver a badmonkey</a>
                  <br>
                </ion-col>
              </ion-row>
              <br>

        </ion-card>


  </ion-col>
  </ion-row>
  </ion-grid>
    
</section>

<section  *ngIf="step=='registro'">
  <ion-grid>
		<ion-row>
      <ion-col id="somelement" align-self-center size-md="6" size-lg="5" size-xs="12">

        <ion-row class="row" class="ion-no-padding" no-padding >
          <ion-col size="3">
          </ion-col>
          <ion-col size="6">
              <img src="../assets/monkey-login.png" class="img-logo">
          </ion-col>
          <ion-col size="3">
          </ion-col>
         </ion-row>
          
        
        <ion-card  style=" padding:10%;"   style="background-color:rgba(168, 168, 168, 0.09);"> 
          <br>
        <ion-row>
          <ion-col size="1">        </ion-col>
          <ion-col size="10">  
              <ion-input  style="border: 1px solid var(--ion-color-medium);"  [(ngModel)]="registercorreo" placeholder="E-mail"></ion-input>
          </ion-col>
          <ion-col size="1">        </ion-col>

        </ion-row>
          <br>


                <ion-row>
                  <ion-col size="5.7">
                      <ion-input  style="border: 1px solid var(--ion-color-medium);"  type="password" [(ngModel)]="registropassword" placeholder="Contraseña"></ion-input>
                  </ion-col>
                  <ion-col size="5.7">
                      <ion-input  style="border: 1px solid var(--ion-color-medium);"  type="password" [(ngModel)]="registropasswordrepetida" placeholder="Repetir Contraseña"></ion-input>
                      <ion-text *ngIf="registropassword!=registropasswordrepetida" style="position:absolute; bottom:-1px; font-size:8px; color:red;">Contraseñas no coinciden.</ion-text>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="1">        </ion-col>
                  <ion-col size="10">  
                    <ion-item style="--background	:rgba(168, 168, 168, 0.09);; border: 1px solid var(--ion-color-medium);">
                      <ion-label>Pais</ion-label>
                      <ion-select interface="popover" (ionChange)="ONCHANGEPAIS($event)" >
                        <ion-select-option  value="{{i}}" *ngFor="let c of countryData; let i = index;">{{c.name}}</ion-select-option>
                      </ion-select>
                    </ion-item>  
                  </ion-col>
                  <ion-col size="1">        </ion-col>

                </ion-row>


                <ion-row>
                  <ion-col size="5.7">
                      <ion-input  style="border: 1px solid var(--ion-color-medium);"  [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
                  </ion-col>
                  <ion-col size="5.7">
                      <ion-input  style="border: 1px solid var(--ion-color-medium);"  [(ngModel)]="apellido" placeholder="Apellido"></ion-input>
                  </ion-col>
                </ion-row>


                <ion-row class="ion-no-padding ion-justify-content-center ion-align-items-center" no-padding >
                  <ion-col style="text-align: center;" size="1.7">
                    <ion-text *ngIf="!paisdataseleccionado" style="font-size: 10; margin-top: 5px; margin-bottom: 5px;"><strong>+</strong></ion-text>
                    <ion-text *ngIf="paisdataseleccionado" style="font-size: 10; margin-top: 5px; margin-bottom: 5px;">+{{paisdataseleccionado.code}}</ion-text>
                  </ion-col>
                  <ion-col size="10.3" class="ion-no-padding" no-padding >
                      <ion-item style="--background	:rgba(168, 168, 168, 0.09);;" class="ion-no-padding" no-padding >
                        <ion-input  style="border: 1px solid var(--ion-color-medium);"  [disabled]="!paisdataseleccionado" [(ngModel)]="celular" [placeholder]="paisdataseleccionado ? 'Nro Celular' : 'Seleccione pais'"></ion-input>
                        <ion-text style="position:absolute; bottom:0px; right:1px; font-size:9px; color:rgba(0, 128, 0, 0.583);">Numero Celular Obligatorio.</ion-text>
                      </ion-item>
                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col>

                    <ion-item  style="--background	:rgba(168, 168, 168, 0.09);;" >
                      <ion-checkbox  (ionChange)="cambioterminos()" slot="start">
                      </ion-checkbox>
                      <ion-label>Términos y condiciones.</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col size="3.5"></ion-col>
                  <ion-col size="5">


                    <ion-button style="--border-radius: 1px;
                    border-radius: 1px;"
                     [disabled]="
                    registrandoseconarrobaenelusuario==true||
                    registropassword!=registropasswordrepetida||
                    aceptaterminos!=true||
                    registercorreo==undefined||
                    registercorreo==null||
                    registercorreo==''||
                    registropassword==undefined||
                    registropassword==null||
                    registropassword==''||
                    registropasswordrepetida==undefined||
                    registropasswordrepetida==null||
                    registropasswordrepetida==''||
                    paisdataseleccionado==undefined||
                    paisdataseleccionado==null||
                    paisdataseleccionado==''||
                    nombre==''||
                    nombre==undefined||
                    nombre==null||
                    apellido==''||
                    apellido==undefined||
                    apellido==null
        
                    " (click)="registrarsecorreo()" expand='block'>Registrarse</ion-button>


                  </ion-col>
                  <ion-col size="3.5"></ion-col>
                  </ion-row>

                <!-- <h6>Al registrarse, usted podra iniciar sección con su correo electronico o su nombre de usuario.</h6> -->


                <ion-row class="row" class="ion-no-padding" no-padding >
                  <ion-col style="text-align: center;">
                    <br>
                    <a><ion-text style="color:#f0b13b;"><h6><a style="cursor:pointer;" (click)="iralogin()">¿Tienes Cuenta? Ingresa Aqui!</a></h6></ion-text></a>
                  </ion-col>
              </ion-row>
    


    </ion-card>

    </ion-col>
  </ion-row>
  </ion-grid>

</section>