
<ion-content padding class="signup-style">

    <ion-buttons>
      <ion-button (click)="goBack()">
        <ion-icon style="font-size: 30px; " name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

<br>

<section *ngIf="this.step=='login'">

  <ion-grid>
		<ion-row>
      <ion-col id="somelement" align-self-center size-md="6" size-lg="5" size-xs="12" size>


            <ion-row class="row" class="ion-no-padding" no-padding >
                <ion-col size="3">
                </ion-col>
                <ion-col size="6">
                    <img src="../assets/logo2-transparent.png" class="img-logo">
                </ion-col>
                <ion-col size="3">
                </ion-col>
            </ion-row>


        <ion-card style=" padding:10%;" color="none" >
                

          <ion-item class="ion-align-items-center">
            <ion-label color="primary" position="floating">badmonkeyvapes@gmail.com</ion-label>
            <ion-input [(ngModel)]="loginuser" placeholder="badmonkeyvapes@gmail.com" style="color:#efb23f"></ion-input>
            <ion-icon style="font-size:large;" color="primary" name="person-outline" slot="start"></ion-icon>
          </ion-item>

          <ion-item class="ion-align-items-center">
            <ion-label color="primary" position="floating">Contraseña:</ion-label>
            <ion-input [(ngModel)]="loginpassword" placeholder="Contraseña" style="color:#efb23f" type="password"></ion-input>
            <ion-icon style="font-size:large;" color="primary" name="lock-closed-outline" slot="start"></ion-icon>
          </ion-item>


          <ion-row  class="ion-align-items-center">
            <ion-col size="7">
                <ion-item color="none" lines="none" class="ion-no-padding" no-padding>
                  <ion-checkbox style="--background: #fbb000"></ion-checkbox>&nbsp;&nbsp;<span style="color:#efb23f">Recordar</span>
                  
                </ion-item>
            </ion-col>
            <ion-col size="5">
              <ion-button color="secondary"   (click)="logear()" expand="block">Ingresar</ion-button>
            </ion-col>
          </ion-row>


              <br>
              <br>
              <br>

              <br>

        </ion-card>

        <ion-row  style="width:100%;position:absolute; bottom: 0%;z-index: 1111;" class="ion-no-padding" no-padding >
          <ion-col size="1"></ion-col>
          <ion-col size="5" style="text-align: left;">
            <a><ion-text style="color:#efb23f;"><h6>¿Aún no tienes cuenta? <a style="cursor:pointer;" (click)="iraregistrarse()">Registrate</a></h6></ion-text></a>
          </ion-col>
          <ion-col size="5" style="text-align: right;">
            <a><ion-text style="color:#efb23f;"><h6><a style="cursor:pointer;" (click)="iraregistrarse()">Olvide mi contraseña</a></h6></ion-text></a>
          </ion-col>
          <ion-col size="1"></ion-col>

        </ion-row>


  </ion-col>
  </ion-row>
  </ion-grid>




    
</section>

<section  *ngIf="step=='registro'">
  <ion-grid>
		<ion-row>
      <ion-col id="somelement" align-self-center size-md="6" size-lg="5" size-xs="12">

        <ion-row class="row" class="ion-no-padding" no-padding >
          <ion-col size="3">
          </ion-col>
          <ion-col size="6">
              <img src="../assets/monkey-login.png" class="img-logo">
          </ion-col>
          <ion-col size="3">
          </ion-col>
         </ion-row>
          
        
        <ion-card  style=" padding:10%;"  color="none"> 
          <br>
        <ion-row>
          <ion-col size="1">        </ion-col>
          <ion-col size="10">  
              <ion-input  style="color:#efb23f; border: 1px solid var(--ion-color-primary);"  [(ngModel)]="nombre" placeholder="E-mail"></ion-input>
          </ion-col>
          <ion-col size="1">        </ion-col>

        </ion-row>
          <br>


                <ion-row>
                  <ion-col size="5.7">
                      <ion-input  style="color:#efb23f; border: 1px solid var(--ion-color-primary);"  type="password" [(ngModel)]="registropassword" placeholder="Contraseña"></ion-input>
                  </ion-col>
                  <ion-col size="5.7">
                      <ion-input  style="color:#efb23f; border: 1px solid var(--ion-color-primary);"  type="password" [(ngModel)]="registropasswordrepetida" placeholder="Repetir Contraseña"></ion-input>
                      <ion-text *ngIf="registropassword!=registropasswordrepetida" style="position:absolute; bottom:-7px; font-size:8px; color:red;">Contraseñas no coinciden.</ion-text>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="12"> 
 
                      <ion-select  placeholder="Seleccione su País" (ionBlur)="ONCHANGEPAIS($event)" (ionFocus)="ONCHANGEPAIS($event)" (ionChange)="ONCHANGEPAIS($event)" >
                        <ion-select-option style="color:#efb23f; " value="{{i}}" *ngFor="let c of countryData; let i = index;">{{c.name}}</ion-select-option>
                </ion-select>
                </ion-col>

                </ion-row>


                <ion-row>
                  <ion-col size="5.7">
                      <ion-input  style="color:#efb23f; border: 1px solid var(--ion-color-primary);"  [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
                  </ion-col>
                  <ion-col size="5.7">
                      <ion-input  style="color:#efb23f; border: 1px solid var(--ion-color-primary);"  [(ngModel)]="apellido" placeholder="Apellido"></ion-input>
                  </ion-col>
                </ion-row>


                <ion-row class="ion-no-padding ion-justify-content-center ion-align-items-center" no-padding >
                  <ion-col style="text-align: center;" size="1.7">
                    <ion-text *ngIf="!paisdataseleccionado" style="font-size: 10; margin-top: 5px; margin-bottom: 5px;"><strong style="color:#efb23f;">+</strong></ion-text>
                    <ion-text *ngIf="paisdataseleccionado" style="color:#efb23f; font-size: 10; margin-top: 5px; margin-bottom: 5px;">+{{paisdataseleccionado.code}}</ion-text>
                  </ion-col>
                  <ion-col size="10.3" class="ion-no-padding" no-padding >
                      <ion-item color="none" class="ion-no-padding" no-padding >
                        <ion-input  style="color:#efb23f; border: 1px solid var(--ion-color-primary);"  [disabled]="!paisdataseleccionado" [(ngModel)]="celular" [placeholder]="paisdataseleccionado ? 'Nro Celular' : 'Seleccione pais'"></ion-input>
                        <ion-text style="position:absolute; z-index:1111; bottom:4px; right:1px; font-size:9px; color:rgba(0, 128, 0, 0.583);">Numero Celular Obligatorio.</ion-text>
                      </ion-item>
                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col>

                    <ion-item color="none">
                      <ion-checkbox style="--background: #fbb000" [(ngModel)]="aceptaterminos" (ionChange)="cambioterminos()" slot="start">
                      </ion-checkbox>
                      <ion-label color="primary">Términos y condiciones.</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>


                <ion-row>
                  <ion-col size="3.5"></ion-col>
                  <ion-col size="5">


                    <ion-button style="--border-radius: 1px;
                    border-radius: 1px;"
                     [disabled]="
                    registrandoseconarrobaenelusuario==true||
                    registropassword!=registropasswordrepetida||
                    aceptaterminos!=true||
                    registercorreo==undefined||
                    registercorreo==null||
                    registercorreo==''||
                    registropassword==undefined||
                    registropassword==null||
                    registropassword==''||
                    registropasswordrepetida==undefined||
                    registropasswordrepetida==null||
                    registropasswordrepetida==''||
                    paisdataseleccionado==undefined||
                    paisdataseleccionado==null||
                    paisdataseleccionado==''||
                    nombre==''||
                    nombre==undefined||
                    nombre==null||
                    apellido==''||
                    apellido==undefined||
                    apellido==null||
                    !celular
        
                    " (click)="registrarsecorreo()" expand='block'>Registrarse</ion-button>


                  </ion-col>
                  <ion-col size="3.5"></ion-col>
                  </ion-row>

                <!-- <h6>Al registrarse, usted podra iniciar sección con su correo electronico o su nombre de usuario.</h6> -->


                <ion-row class="row" class="ion-no-padding" no-padding >
                  <ion-col style="text-align: center;">
                    <br>
                    <a><ion-text style="color:#efb23f;"><h6><a style="cursor:pointer;" (click)="iralogin()">¿Tienes Cuenta? Ingresa Aqui!</a></h6></ion-text></a>
                  </ion-col>
              </ion-row>
    


    </ion-card>






    </ion-col>
  </ion-row>
  </ion-grid>





</section>





</ion-content>